/* Archivo custom-combobox.css */
.custom-combobox {
    -fx-padding: 1px; /* Ajusta el espaciado interior */
}

.custom-list-view {
    -fx-pref-height: 50px; /* Ajusta la altura deseada */
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-border-color: transparent; /* Borde transparente */
}

.custom-list-cell {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 2px 5px; /* Ajusta el espaciado interior */
}
