/* Estilo para el ProgressIndicator */
.progress-indicator {
	-fx-progress-color: #4A90E2; /* Use a single color here */
    -fx-pref-width: 60px; /* Ancho preferido */
    -fx-pref-height: 60px; /* Alto preferido */
}

/* Estilo para el texto dentro del ProgressIndicator */
.progress-indicator .text {
    -fx-font-size: 12px; /* Tamaño de fuente */
    -fx-fill: #4A4A4A; /* Color del texto */
}

/* Estilo para el área del ProgressIndicator */
.progress-indicator .track {
    -fx-background-color: #EAEAEA; /* Color de fondo */
    -fx-pref-width: 60px; /* Ancho preferido */
    -fx-pref-height: 60px; /* Alto preferido */
    -fx-background-radius: 30px; /* Radio de esquinas */
}

/* Estilo para el área del ProgressIndicator cuando está deshabilitado */
.progress-indicator .track:disabled {
    -fx-opacity: 0.6; /* Opacidad reducida */
}

/* Estilo para el área del ProgressIndicator cuando está en modo indeterminado */
.progress-indicator .track .indeterminate-bar {
    -fx-background-color: #8F62E2; /* Color de la barra indeterminada */
    -fx-background-radius: 30px; /* Radio de esquinas */
}

/* Estilo para el área del ProgressIndicator cuando está en modo determinado */
.progress-indicator .track .determinate-bar {
    -fx-background-color: #4A90E2; /* Color de la barra determinada */
    -fx-background-radius: 30px; /* Radio de esquinas */
}
