/* Estilos para TableColumn */
.table-column {
    -fx-font-size: 14px;
    /* -fx-table-cell-resize-policy: UNCONSTRAINED_RESIZE_POLICY; */

    -fx-border-color: #CCCCCC;
    -fx-border-width: 0 0 0 1px;
}

/* Estilos para TableView */
.table-view {
    -fx-selection-bar: #BFEFFF;
}

.table-view .column-header-background {
    -fx-background-color: #EFEFEF;
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: #EFEFEF;
    -fx-text-fill: #333333;
}

.table-view .table-cell {
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #F5F5F5;
}

.table-view .table-row-cell:even {
    -fx-background-color: #FFFFFF;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #BFEFFF;
}

.hyperlink:hover {
    -fx-text-fill: red; /* Establecer el color rojo al pasar el ratón por encima */
}

.combo-box {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 5;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 5;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .arrow {
    -fx-padding: 0 5 0 5;
    -fx-shape: "M 0 0 L 5 5 L 10 0 Z";
    -fx-scale-shape: false;
    -fx-background-color: #CCCCCC;
}

.combo-box .list-cell {
    -fx-background-color: #f2f2f2;
}

.combo-box .list-cell:selected {
    -fx-background-color: #CCCCCC;
}
/* Ajuste del tamaño de las columnas */
.table-view .column-header {
    -fx-pref-height: 20; /* Puedes ajustar este valor según tus necesidades */
}


